altgraph==0.17
cufflinks==0.17.3
dash==2.2.0
dash-bootstrap-components==0.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.8.3
dash-table==5.0.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.3
entrypoints==0.3
filelock==3.3.2
Flask==1.1.2
Flask-Compress==1.8.0
fudge==1.1.1
future==0.18.2
google-images-download==2.8.0
