#Richard Castro
.box{
width:100%;

}
.Content-Box{
  align-content: center;
  margin:auto;
  background:#ccc;
  padding:20px;
  /* display:flex; */
  width:550px;
  height:550px;
}

/* .content{
  margin-top:3px;
  font-size:1.4rem;
  margin:auto;
  color:#fff;
  border-bottom:3px solid #fcb100;
} */

.Header{height:75px;display:flex;}
.LogoBox{width:125px;}
.Logo{width:125px;}
.titleBox{margin:auto;}


.Bod{width:550px;height:600px;}

.contentImageBox{
  width:300px;
}


.HoliBox{
  width:800px;
  /* margin:auto;
  height:auto; */
}

.HoliImg{
width:550px;
height:550px;
}


.power{
  width:180px;
  float:right;
  margin-top:20px;
}

.powerP{
  float:left;
}

.powerImg{
  padding-left:10px;
  width:80px;
  height:35px;
  float:left;
}
/* .titleBox{
  width:400px;
  float:right;
} */
