#Richard Castro
.box{
width:100%;
}
.contentBox{
  align-content: center;
  margin:auto;
  background:#333;
  padding:20px;
  display:flex;
}
.content{
  margin-top:3px;
  font-size:1.4rem;
  margin:auto;
  color:#fff;
  border-bottom:3px solid #fcb100;
}
